@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
	background-image:linear-gradient(to right,yellow,orange) !important;
		color:orange;
		font-size:15px;
		padding:10px;
	}
	.form-control{
		height:30px;
		border:none;
		border-bottom:2px solid orange;
	}
.form, h3 {
		margin-top:10%;
		font-size:30px;
		color:black;
		animation-name: example;
		animation-duration: 2s;
	}

	@keyframes example {
	  1%   {color: #F0C6C1 ;}
	  25%  {color: #D8FFB8 ;}
	  50%  {color: #B8E7FF ;}
	  100% {color: #38BB80 ;}
	}
.container{
	top:0%;
	background:white;
	padding:10px  50px;
	width:50%;
	height:20%;
	box-shadow: 15px 15px 15px orange;
}
h2{
	color:orange;
}
i{
	color:black;
}
lable{
	color:orange;
}
.btn-warning{
	padding:10px 30px;
}
.register{
	color:orange;
	font-size:18px;
	margin-left:30%;
}
@media (max-width:450px){
.container {
    width:100%;
}
}